# Node.js
node_modules
.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
package-lock.json
*.tsbuildinfo

# Python
venv
.venv
*.pyc
__pycache__
.env*
!.env.example

# Next.js
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea
.vscode
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
